server {
  listen __PORT__;
  server_name manager.__DNSDOMAIN__;
  root __MANAGERDIR__;

  if ($uri !~ ^/(manager\.psgi|static|doc|fr-doc|lib|javascript|favicon)) {
    rewrite ^/(.*)$ /manager.psgi/$1 break;
  }

  location /manager.psgi {
    include /etc/nginx/fastcgi_params;
    fastcgi_pass unix:__FASTCGISOCKDIR__/llng-fastcgi.sock;
    fastcgi_param LLTYPE manager;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_split_path_info ^(.*\.psgi)(/.*)$;
    fastcgi_param PATH_INFO  $fastcgi_path_info;
    # Uncomment this if you use https only
    #add_header Strict-Transport-Security "15768000";
  }

  location / {
    index manager.psgi;
    allow 127.0.0.0/8;
    deny all;
    try_files $uri $uri/ =404;
  }

  location /doc/ {
    alias __DEFDOCDIR__;
    index index.html start.html;
  }
  location /lib/ {
    alias __DEFDOCDIR__pages/documentation/current/lib/;
  }
  location /fr-doc/ {
    alias __FRDOCDIR__;
    index index.html start.html;
  }
  location /static/ {
    alias __MANAGERSTATICDIR__;
  }

  # DEBIAN
  # If install was made with USEDEBIANLIBS (official releases), uncomment this
  location /javascript/ {
    alias /usr/share/javascript/;
  }

}
